<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hkmus413f.groupproj_moviebuyer">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SummaryActivity"
            android:label="Summary"
            ></activity>
        <activity android:name=".CheckoutActivity"
            android:label="Checkout"/>
        <activity android:name=".ShoppingCartActivity"
            android:label="Shopping Cart"/>
        <activity android:name=".HomePageActivity"
            android:label="Homepage"/>
        <activity android:name=".UserInfoActivity"
            android:label="User Info"/>
        <activity android:name=".Activity_Movie1"
            android:label="Laid-Back Camp Movie"/>
        <activity android:name=".Activity_Movie2"
            android:label="F9: The Fast Saga"/>
        <activity android:name=".Activity_Movie3"
            android:label="The Fast and the Furious: Tokyo Drift"/>
        <activity android:name=".Activity_Movie4"
            android:label="My Little Pony the Movie"/>
        <activity android:name=".Activity_Movie5"
            android:label="Initial D"/>
        <activity android:name=".Activity_Movie6"
            android:label="YuruYuri Nachuyachumi"/>
        <activity android:name=".Activity_Movie7"
            android:label="Downfall"/>
        <activity android:name=".Activity_Movie8"
            android:label="Mr. Bean's Holiday"/>
        <activity android:name=".Activity_Movie9"
            android:label="Avengers: Endgame"/>
        <activity android:name=".Activity_Movie10"
            android:label="Madagascar"/>
        <activity android:name=".Activity_Movie11"
            android:label="Frozen II"/>
        <activity android:name=".Activity_Movie12"
            android:label="Bruce Almighty"/>
        <activity android:name=".Activity_Movie13"
            android:label="Spider-Man: No Way Home"/>
        <activity android:name=".Activity_Movie14"
            android:label="Your Name"/>
        <activity android:name=".Activity_Movie15"
            android:label="Charlie and the Chocolate Factory"/>
        <activity android:name=".Activity_Movie16"
            android:label="Herbie: Fully Loaded"/>
        <activity android:name=".Activity_Movie17"
            android:label="The Matrix Resurrections"/>
        <activity android:name=".Activity_Movie18"
            android:label="My Neighbour Totoro"/>
        <activity android:name=".Activity_Movie19"
            android:label="Star Wars: The Rise of Skywalker"/>
        <activity android:name=".Activity_Movie20"
            android:label="Shrek"/>
        <activity android:name=".SignUpActivity"
            android:label="Sign Up"/>
        <activity android:name=".GuestActivity"
            android:label="Used as Guest"/>
        <activity android:name=".LoginActivity"
            android:label="Login Page"/>
        <activity android:name=".AboutActivity"
            android:label="About This App"/>
        <activity android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>
</manifest>